@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 800;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 100;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 400;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 300;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 700;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 900;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
@font-face {
	font-display: fallback;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 600;
	src: url("") format("woff"),url("") format("embedded-opentype");
}
